* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

header{
    text-align: center;
    margin-bottom: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-photo {
    flex: 1;
    text-align: center;
}

.profile-photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile-info {
    flex: 2;
    padding-left: 20px;
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    line-height: 1.5;
}

.skills-section {
    margin-bottom: 30px;
}

.skills-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.skills-section ul {
    list-style-type: none;
}

.skills-section ul li {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.projects-section {
    margin-bottom: 30px;
}

.projects-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.projects-container {
    display: flex;
    gap: 20px;
}

.project-card {
    display: block;
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-section {
    margin-bottom: 30px;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-section a {
    color: #3498db;
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 0 0 10px 10px;
}